---
import Layout from '../layouts/Layout.astro';
import Team from '../components/Team.astro';
import Testimonials from '../components/Testimonials.astro';
import Maps from '../components/maps/Maps.astro';
import {FeaturedCars} from '../components/featured-car/FeaturedCars'
import {ImageSlider} from '../components/image-slider/ImageSlider'
import ViewStock from '../components/banners/ViewStock.astro';
---

<Layout title="Doble Tracción - Expertos en 4x4">
  <main>
     <ImageSlider client:load/>
     <FeaturedCars client:load />
     <ViewStock />
    <!-- Consignment Section -->
    <section class="py-16 bg-yellow-400">
      <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
          <div>
            <h2 class="text-3xl font-bold mb-6">Consignación de Vehículos 4X4</h2>
            <p class="text-lg mb-8">
              Si quieres vender tu vehículo con toda tranquilidad, ¡estás en el lugar correcto! 
              Hacemos que la venta sea un proceso agradable, simple y seguro. Mientras tu vehículo 
              está en nuestras manos, nos encargamos de siempre mantenerlo lavado y activo en el mercado.
            </p>
            <a 
              href="/contacto" 
              class="bg-black text-white px-8 py-3 rounded-md font-bold inline-block hover:bg-gray-800"
            >
              Consigna tu Vehículo
            </a>
          </div>
          <div>
            <img 
              src="/images/consignacion.webp" 
              alt="Consignación de vehículos" 
              class="rounded-lg shadow-xl"
            />
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="mx-auto">
        <img src="/images/banners/banner-sucursal.webp" alt="nueva sucursal" class="w-full" />
      </div>
    </section>

    <Team />
   <Testimonials />
   <Maps />
  </main>
</Layout>

<style is:global >
   /* Ocultar flechas en pantallas pequeñas */
   .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .swiper-button-prev, .swiper-button-next{
    color: white;
  }
  @media (min-width: 768px) {
    /* Mostrar flechas en pantallas medianas o más grandes */
    .swiper-button-prev,
    .swiper-button-next {
      display: block;
    }
  }
</style>


