---
import team from '../data/team.json';
---
<section class="py-16 bg-black text-white">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center mb-12">Equipo</h2>
    <p class="text-center mb-12 max-w-3xl mx-auto text-gray-300">
      Un equipo de expertos comprometidos con ofrecer soluciones automotrices integrales, 
      basadas en experiencia, innovación y pasión por la excelencia. Con nosotros, tu vehículo 
      está en las mejores manos.
    </p>
    
    <div class="grid grid-cols-2 md:grid-cols-3 gap-8">
      {team.map(member => (
        <div class="text-center">
          <div class="w-32 h-32 mx-auto mb-4 group">
            <img src={member.image} alt={member.name || 'Nombre no disponible'} class="w-full h-full rounded-full object-cover border-4 border-yellow-400 shadow-xl transition-transform transform group-hover:scale-105 group-hover:shadow-2xl group-hover:opacity-90 "/>
          </div>
          <h3 class="font-bold text-lg text-white">{member.name || 'Nombre no disponible'}</h3>
          <p class="text-gray-300 text-sm">{member.role || 'Rol no disponible'}</p>
        </div>
      ))}
    </div>
  </div>
</section>