---
import Arrow from '../../components/buttons/arrow.astro';
---

<div class="w-full h-96 bg-cover bg-center flex justify-center items-center flex-col" style="background-image: url('images/banners/nosotros-oficina.webp');">
    <div class="flex justify-center items-center gap-2 flex-col md:flex-row ">
      <img src="/images/logo/icon-logo.png" alt="logo" class="w-24">
      <h2 class="text-4xl text-yellow-400 font-bold">VER STOCK COMPLETO</h2>
      <div>
       <a href="/catalogo">
        <Arrow />
       </a>
      </div>
    </div>
      <p class="text-center text-white py-2">
        Comprometidos con ofrecer soluciones automotrices integrales, basadas en experiencia, innovación y pasión por la excelencia.
      </p>
</div>